# Temp files
*.txt.bak
jenkins_*.txt

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Docker
*.tar

# OS
Thumbs.db
.DS_Store

# IDE
.idea/
.vscode/
*.swp
